# Ignore 'node_modules' folder anywhere in the project
**/node_modules/

# Ignore 'dist' folder anywhere
**/dist/

# Ignore '.next' folder anywhere
**/.next/

# Ignore specific files anywhere
**/.env
**/.DS_Store